.wrapper {
  height: auto;
  overflow: hidden;
  padding: 60px 0;
}

.visible {
  visibility: visible;
}

.bg-overlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  /* browsers */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7c000000',endColorstr='#7c000000');
  /* IE */
}
