.contact-component {
  .container.contact-inner {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .heading {
    text-align: center;
    color: #555;
    h2 {
      font-size: 24px;
      line-height: 1.3846em;
      text-transform: uppercase;
    }
  }


  .contact-form {
    padding: 20px 0;
    input {
      box-shadow: none;
      color: #4E565C;
      font-size: 12px;
      height: 40px;
      line-height: 1.5em;
      padding: 0 10px;
      width: 100%;
    }
    textarea {
      height:201px;
    }
    button {
      background-color: #c41c19;
      color: #ffffff;
      font-size: 16px;
      border: 0;
      width: 100%;
      padding: 10px 0;
    }
  }
}
