$primary-red-color: #c41c19;

.intro-component {
  .slogan {
    h3 {
      color: #eeeeee;
      font-size: 22px;
      line-height: 1.4em;
      margin-bottom: 25px;
      margin-top: 100px;
    }

    p {
      color: #C6C6C6;
      font-size: 16px;
      line-height: 1.1250em;
      padding: 25px 0;
    }

    a.btn {
      margin-top: 10px;
      border-radius: 4px;
      background-color: transparent;
      border: 2px solid #FFF;
      color: #FFF;
      padding: 15px 40px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 400;

      &:hover {
        background-color: $primary-red-color;
        color: #ffffff;
        border-color: $primary-red-color;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .header-component {
    ul.navbar-nav {
      display: none;
    }
  }
}
