$primary-red-color: #C0392B;

span.line {
  background: $primary-red-color;
  display: block;
  height: 3px;
  position: relative;
  margin: 25px auto;
  width: 150px;
}

.pos-component {
  margin-bottom: 40px;
  .heading {
    text-align: center;
  }
  .icon-download {
    text-align: center;
  }
  .screenshots {
    .carousel {
      .item {
        img {
          border: 1px solid #CCC;
          border-radius: 2px;
          padding: 2px;
        }
      }
    }
  }
  .pos-features {

    padding: 20px 0;

    .features-list {
      list-style: none;
      .features-content {

      }
    }
  }

  .features {
    padding: 0 30px;
    .list {
      li {
        font-size: 18px;
        padding: 6px 0;
        &:before {
          content: "\e067";
          font-family: 'Glyphicons Halflings';
          font-size: 18px;
          padding-right: 12px;
          float: left;
          margin-left: -20px;
          color: #26AA5B;
        }
      }
    }

    .icon-download {
      margin-top: 20px;
    }
  }
}
