.restapp-component {
  border-top: 1px solid #E8E8E8;
  .restapp-inner {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .restapp-features {
    > .col {
      text-align: center;
    }
  }
  .become-partner {
    padding-top: 40px;

    .description {
      padding-top: 40px;
      text-align: center;
    }

    input {
      margin-bottom: 10px;
    }

    button {
      float: right;
      width: 100%;
      background-color: rgb(69,188,96);
      color: #FFFFFF;
    }
    p.notice {
      text-align: center;
      padding: 10px;
    }
  }
}
