$primary-red-color: #c41c19;

.bg-overlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  /* browsers */
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7c000000',endColorstr='#7c000000');
  /* IE */
}

.subscribe-component {
  background-image:url(../../../images/subscribe-bg.jpg);
  background-attachment:fixed !important;
  background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover;
  -webkit-background-size:cover;
  background-repeat:repeat;
  color:#ffffff;

  .subscribe {
    position: relative;

    .container.subscribe-inner {
      padding-top: 60px;
      padding-bottom: 80px;

      .subscribe-form-input {
        .form-control-feedback {
          right: 150px !important;
          top: 15px !important;
        }
      }
    }



    .contact-form {
      padding-top:20px;

      .form-horizontal {
        .btn-lg {
          padding: 16px 25px;
        }

        .init {
          .subscribe-form-submit {
            padding: 17px 25px;
            top: 0;
          }
        }
        .form-control-lg {
          font-size: 18px;
          height: 60px;
          line-height: 30px;
          padding: 15px 25px;
        }
        .subscribe-form-submit {
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          position: absolute;
          right: 0;
          top: 1px;
          width: 150px;
          color: #ffffff;
          background-color: $primary-red-color;
        }
      }
    }
  }
}
